{{> page_header}}
	
	<div class="container">

		<div class="jumbotron text-center">

			<h1>{{pageTitle}}</h1>
			<hr>
			<p>
				<ul>
					<li>Lead Developer: {{author}}</li>
				</ul>
			</p>	

		</div>
		
	</div>

{{> footer}}